{% extends "teams/_layout.html" %}

{% block body_content %}
    <h2 class="" style="text-transform:uppercase; margin-bottom: 0px;"> {{ team.name }}</h2>
    <p class="muted">Location: {{ team.field_location}}, Lead: {{ team.lead.get_full_name|default:team.lead }}</p>

    <h4 class="" style="margin-top:20px; text-transform:uppercase;">Development Team</h4>
    <ul>
        {% for player in team.players.all %}
        <li>{{ player.name }} - {{ player.get_position_display }}</li>
        {% endfor %}
    </ul>

    {% if user == team.lead %}
    <hr>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p}}
        <div class="" style="display:inline-block;">
        <a href="{% url 'teams:update' pk=team.pk %}" class="btn btn-primary">Edit</a>
        <input type="submit" class="btn btn-primary" value="Save">
        </div>
    </form>
    {% endif %}

    <hr>
    
    
{% endblock %}