///File: static/css/main.css

body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	width: 100%;
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	padding: 18px 14px 18px 14px;
}

.bg-dark{
	background-color: #cb3c1c!important;
	height: 50px;
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color:#3f51b5;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 10px;
	padding-top: 2px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}

.view-btn{
	border-radius: 24px;
    padding-top: 2px;
    padding-right: 20px;
    padding-left: 20px;
}

.add-btn{
	border-radius: 24px;
    padding-top: 2px;
}

.login-btn{
	border-radius: 8px;
	padding: 4px 14px 4px 14px;
	background-color:white;
	margin:2px;
}

.signup-btn{
	border-radius: 8px;
	padding: 4px 10px 4px 10px;
	background-color:white;
	margin:2px;
}