{% extends "_index.html" %}

{% block sidebar %}{% endblock %}

{% block body_content %}

<div id="meow">
	<h1>Helloo Moto</h1>
</div>
<div class="splasher col-12 col-md-12 col-lg-12" style="background-color:; padding-bottom: 100px;">
	<h1>Service Catalog</h1>
	<p><i>Create your company services</i></p>
	
	<div>
		<h3><a href="{% url 'teams:list' %}">Current Projects</a></h3>
	</div>
	<!-- <p>
		<a href="#" role="button" class="btn btn-default btn-lg">Sign up</a> or
		<a href="#" role="button" class="btn btn-default btn-lg">Log in</a>
	</p> -->
    <!-- <p>There {{ games_today|pluralize:"is, are" }} {{ games_today }} game{{ games_today|pluralize }} today!</p> -->
</div>
{% endblock %}