{% extends "_index.html" %}

{% block sidebar %}{% endblock %}

{% block body_content %}

<div class="splasher" style="display: flex; justify-content: center; background-color:#eee; border-radius: 20px;">
	<div class="" style="padding: 20px 20px 30px 20px; text-align: center;">
	<h3 style="text-transform:uppercase;">Product Catalog</h3>

	{% if user.is_authenticated  %}
	<p>Hi {{user}}! Track your company projects now</p>

	<div class="" style="margin-top: 10px;">
		<img src="https://www.flaticon.com/svg/static/icons/svg/3143/3143001.svg" height="200px">
		<h3 style="margin-top:10px;"><a href="{% url 'teams:list' %}" style="color:white; text-decoration: none;" class="btn btn-primary btn-block">Your Projects</a></h3>
	</div>
	
	{% else %}
	<p><i>Login to track your company projects</i></p>

	<div class="" style="margin-top: 10px;">
		<img src="https://www.flaticon.com/svg/static/icons/svg/3143/3143001.svg" alt="landing-icon" height="200px">
		<h3 style="margin-top:10px;"><a href="/admin" style="color:white; text-decoration: none;" class="btn btn-primary btn-block">Login</a></h3>
	</div>
	<div class="" style="text-align: center;">
		<h6 style="margin-top:10px;"><a href="#" style="text-decoration: none;" class="text-primary">Don't have an account? Sign Up!</a></h6>
	</div>
	{% endif %}
	
	<!-- <p>
		<a href="#" role="button" class="btn btn-default btn-lg">Sign up</a> or
		<a href="#" role="button" class="btn btn-default btn-lg">Log in</a>
	</p> -->
    <!-- <p>There {{ games_today|pluralize:"is, are" }} {{ games_today }} game{{ games_today|pluralize }} today!</p> -->
	</div>
</div>
{% endblock %}