{% extends "_boostrap.html" %}
{% block body_content %}
<style>
.mt{
    margin-top: 10px;
}
.mr{
    margin-right: 5px;
    margin-left: 5px;
}
</style>

<div class="" style="margin-top: 40px;">
<form method="GET" action="add">
    <div class="form-group">
        <input type="number" class="form-control mt" name="digit_1" placeholder="Enter first number:" required>
        <input type="number" class="form-control mt" name="digit_2" placeholder="Enter second number:" required>
    </div> 
    <div class="" style="display: flex;">   
        <input type="submit" class="btn btn-primary btn-block mr" style="margin-top: 0px;">
        <input type="reset" class="btn btn-primary btn-block mr" style="margin-top: 0px;" action="#">
    </div>
</form>
</div>

<div class="" style="margin-top: 40px;">
    <h3>Basic Math Operations using Soap API: </h3>
    <h4>WSDL=<a href="http://www.dneonline.com/calculator.asmx?wsdl">http://www.dneonline.com/calculator.asmx?wsdl</a></h4>
    <h4><br>Sum: {{ total }}</h4>
    <h4>Difference: {{ difference }}</h4>
    <h4>Product: {{ product }}</h4>
    <h4>Quotient: {{ quotient }}</h4>
</div>
{% endblock %}