{% extends 'products/main.html' %}
{% load static %}

{% block content %}
<h3>Our Menu</h3>

    <div class="row">
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/c.jpg' %}">
            <div class="box-element product">
                <h6><strong>Four Cheese Spicy Kani Sushi Bake</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/b.jpg' %}">
            <div class="box-element product">
                <h6><strong>Tuna Kimbap</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/a.jpg' %}">
            <div class="box-element product">
                <h6><strong>Sushi Bake Trio</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/pp.jpg' %}">
            <div class="box-element product">
                <h6><strong>Cali Maki Sushi Bake Family</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/j.jpg' %}">
            <div class="box-element product">
                <h6><strong>Crispy Pork Tonkatsu</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/i.jpg' %}">
            <div class="box-element product">
                <h6><strong>2-in-1 Sushi Bake</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
    </div>

<!-- <img src="{% static 'images/cart.png' %}"> -->
{% endblock content %}