{% extends 'products/main.html' %}
{% load static %}

{% block content %}
    <div class="my-3" style="display: flex; justify-content: space-between;">
        <h4>Our Menu</h4>
        <div style="display: flex; justify-content:end;  align-items: center;">
        <a href=""><button class="btn btn-primary order-btn">Orders:  <strong>{{ cartItems }}</strong></button></a>
        <a href="{% url 'products:cart' %}"><button class="btn btn-danger order-btn mx-2 px-5"> Cart </strong></button></a>
        <a href="{% url 'products:checkout' %}"><button class="btn btn-success order-btn">Checkout</strong></button></a>
        </div>
    </div>
    <div>
        <button id="orderupdate-status" class="mb-3 btn btn-outline-success orderupdate-btn btn-block hidden"></button>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{{ product.imageURL }}" alt={{product.name}}>
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>

                
                <div style="display: flex; justify-content:space-between;  align-items: center;">
                    <div style="display: flex; justify-content:start;  align-items: center;">
                        <button data-name="{{product.name}}" data-product="{{product.id}}" data-action="add" class="btn btn-outline-primary add-btn update-cart">Add to Cart</button>
                        <button class="btn btn-outline-success add-btn update-cart">View</button>
                    </div>    
                <h6 style="margin-bottom: 0px;"><strong>P{{product.price|floatformat:2}}</strong></h6>
                </div>
            </div>
        </div>
       {% endfor %}
    </div>

<!-- <img src="{% static 'images/cart.png' %}"> -->
{% endblock content %}