{% extends 'products/main.html' %}
{% load static %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"> -->

{% block content %}
<h3>Menu</h3>

    <div class="row">
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/productimage.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/productimage.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
        <div class="col-lg-4 selling">
            <img class="thumbnail" src="{% static 'images/productimage.png' %}">
            <div class="box-element product">
                <h6><strong>Product</strong></h6>
                <hr>

                <button  class="btn btn-outline-secondary add-btn">Add to Cart</button>
                <a class="btn btn-outline-success view-btn" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>P20</strong></h4>
            </div>
        </div>
    </div>

<!-- <img src="{% static 'images/cart.png' %}"> -->
{% endblock content %}