{% extends "_index.html" %}

{% block sidebar %}{% endblock %}

{% block body_content %}

<div class="splasher" style="display: flex; justify-content: center; background-color:#eee; border-radius: 20px;">
	<div class="" style="padding: 20px 20px 30px 20px; text-align: center;">
	<h3 style="text-transform:uppercase;">DJANGO WORLD</h3>	

	{% if user.is_authenticated  %}
	<p>Hi {{user}}! Track your Django projects now</p>

	<div class="" style="margin-top: 10px;">
		<img src="https://www.flaticon.com/svg/static/icons/svg/3143/3143001.svg" height="200px">
		<!-- <h3 style="margin-top:10px;"><a href="#" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">CATALOG (CRUD)</a></h3> -->
		<h3 style="margin-top:10px;"><a href="{% url 'teams:list' %}" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">EMPLOYEES DETAIL (CBV-CRUD)</a></h3>
		<h3 style="margin-top:10px;"><a href="/api/v1/tasks/" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">TASKS and REVIEWS LIST (DRF)</a></h3>
		<h3 style="margin-top:10px;"><a href="{% url 'products:products_list' %}" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">SHOPPING CART</a></h3>
		<h3 style="margin-top:10px;"><a href="#" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">CELERY TASK</a></h3>
		<h3 style="margin-top:10px;"><a href="{% url 'webscraping:webscraping_list' %}" style="color:white; text-decoration: none; border-radius: 12px;" class="btn btn-primary btn-block">NEWS WEB SCRAPING</a></h3>
	</div>
	{% else %}
	<p><i>Login to track your Django projects</i></p>

	<div class="" style="margin-top: 10px;">
		<img src="https://www.flaticon.com/svg/static/icons/svg/3143/3143001.svg" alt="landing-icon" height="200px">
		<h3 style="margin-top:10px;"><a href="/login/" style="color:white; text-decoration: none; border-radius: 20px;" class="btn btn-primary btn-block">Login</a></h3>
		<h3 style="margin-top:10px;"><a href="/signup/" style="color:white; text-decoration: none; border-radius: 20px;" class="btn btn-primary btn-block">Signup</a></h3>
	</div>
	<div class="" style="text-align: center;">
		<h6 style="margin-top:10px;"><a href="#" style="text-decoration: none;" class="text-primary">USERNAME: Raymond PASS:123123</a></h6>
	</div>
	{% endif %}
	</div>
</div>
{% endblock %}