{% extends "_index.html" %}

{% block sidebar %}{% endblock %}

{% block body_content %}
<style>
    .input-field, .limit{
        display: flex;
        margin:10px 20px 10px 20px;
    }
    .user_card{
        background-color:#eee;
        opacity: 90%;
        padding-top:20px;
        padding-bottom:10px;
        /* border-radius:16px; */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			border-radius: 16px;
    }
    .form_container {
        margin: 20px;
    }
</style>
<div class="splasher">
    <div class="" style="padding: 20px 20px 30px 20px; text-align: center;">
        <h3 id="form-title" style="text-align: center;">CREATE ACCOUNT</h3>
        <div class="justify-content-center form_container">
            <form method="POST" action="">
                {% csrf_token %}
                <div class="input-field">
                    {{form.username}}
                </div>
                <div class="input-field">
                    {{form.email}}
                </div>
                <div class="input-field">
                    {{form.password1}}
                </div>
                <div class="input-field">
                    {{form.password2}}
                </div>
                    <div class="limit justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Register Account">
                    </div>
            </form>
        </div>

        {% for message in messages %}
            <p id="messages">{{ message }}</p>
        {% endfor %}
        {{form.errors}}

        <div class="" style="text-align: center; margin-top: 10px;">
            <div class="d-flex justify-content-center links">
                Already have an account? <a href="{% url 'login' %}" class="ml-2">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}